.jumbotron {
    margin-bottom: 0px;
}

.c-googlemap {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 56px;
    margin-right: 56px;
}

.card-title {
    margin-top: 24px;
    margin-bottom: 24px;
}

.card-text {
    margin-top: 16px; 
}