.c-main-container {
    margin: 60px auto;
}

.c-profile-image {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.c-card-event {
    width: auto;
    margin-bottom: 24px;
}